.mother {
  display: inline-block;
  justify-content: center;
  align-items: center;
}
.poke_card {
  width: 150px;
  height: 200px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: .5em;
  text-align: center;
}
.poke_card_header h3 {
  text-transform: capitalize;
  font-weight: bolder;
}
.poke_card img{
  width: 5vw;
  height: 10vh;
}
.poke_card p {
  font-weight: bolder;
}
